/*estilo global */
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Tahoma', serif;
}



/*parte superior*/
title {
}

/*encabezado de la pagina */
header {
}

/*----------------------  navegacion- -----------------------*/
header>nav {
	background-color: black;
	color white;
	text-align: center;
	
	/*box-shawdown: dezplazamiento horizntal, desplazamiento vertical, pixeles  en difuminacion 
	/*rgba estandar rgb extendido rgba(red, green, blue, opacidad de 0 a 1 )*/

	/*rgba(10,0,0,0.5); */
	box-shadow: 0px 0px 20px black;

/*forza el navegador a mantener el menu en la parte superior*/
	position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;/* Depende el valor segun las capas flotantes que tengas */
   
}

/*elimina las barras inferiores de nuestro links*/
header>nav >ul {
	list-style: none;
	padding: 10px 0  10px 0;
}

header>nav> ul> li {
	/*lista ordenada en linea horizontal*/
	display: inline-block;
	
}

/*hipervinculos*/
header>nav> ul> li> a {
	text-decoration: none;
	color: white;
	padding: 10px 25px 10px 25px;

}

/*efecto sobre vinculo del nav*/
header>nav> ul> li> a:hover {
	color: #c1c1c1;
	background-color: gray;
}

/*div de  itulo de pagina */
div.TituloPagina {
	font-style: italic;
	font-weight: bold;	/*font-size: 25px;*/
	color: black;
	text-align: center;
	width: 100%;
	margin: 50px auto;
}
/*------------------cuerpo------------------------------*/

/*------------------------footer---------------------------*/

footer {

	/*lo mismo que nav */
	width: 100%;
	text-align: center;
	color: white;
	background-color: black;
	padding: 15px 0px 15px 0px;
	box-shadow: 0px 0px 20px black;
	margin-top: 100px;

	/*obligara al footer que no puede quedar ni izquierda ni derecha*/
	clear:both;

   


}