audio{
/*control:control;*/
}

video{
width:80%;
}
	

div.CajonAudio{
	padding: 20px;
	margin: 0 10%  10px 10%;
	background-color: black;
	align-content: center;
	text-align: center;
	box-shadow: 1px 1px 15px black;
}

div.CanjonVideo{
	margin: auto 10%;
	padding: 20px;
	background-color: black;
	align-content: center;
	text-align: center;
	box-shadow: 1px 1px 15px black;

}

p{
	/*font-size*/
	text-align: center;
		color: white;
}
a{
	text-decoration: none;
	color: white;
	font-size:0.75em;

}