div.Animado{
	margin: 10%;
	height: 100px;
	width: 80%;
	background-color: black;
	

}
div.Animado:hover{
  background-color: blue;
}

/*----*/

section{
  margin: 10%;
  background-color: black;  
}

#escudoUD{
  /*poder centrar las imag*/
  display: block;
  margin:  auto  ;

  width:50%;
}


section>h1, section>h2{
  text-align:  center;
}


section:hover{
  background-color: blue;
}

	