audio{
/*control:control;*/
}

video{
width:80%;
}
	

	article{

	align-content: center;
	text-align: center;
	
}

p{
	/*font-size*/
	padding:5px;
	text-align: center;
		color: white;
}


.CajonAudio a,.CajonVideo a{
	text-decoration: none;
	color: white;
	font-size:0.75em;

}